body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  min-height: 5vh;
}

.container {
  display: flex;
  height: 100vh;
  margin-top: 1rem;
}


.sidebar {
  display: flex;
  width: 25%;
  min-height: 10vh;
}

.flag-icon{

}

.filter-button {
  background: #9800F4;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  width: 50%;
  height: auto;
  padding: 1rem;
}



.todo-list{
 color:black;
 list-style: none;
 font-size: 20px;
 font-family: sans-serif;
 box-sizing: border-box;
 border: 1px solid #000000;
 width: 80% ;
 border-radius: 1rem;
 height: auto;
 padding: 1rem;
 background: #bed077;
 overflow:scroll;
}

.close-icon{
  color: #9800F4;
}
.flag-icon{
  color: red;
}
.icons{
  margin-left: 0%;
}
.position-icon{
  margin-left: 1%;
  float: right;
}
.flag-position{
  float: right;
  
}


.filter-buttontext {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  padding: 20px;
  color: #FFFFFF;
}

.content {
  position: relative;
  flex-grow: 1;
  min-height: 10vh;
  border: 0.25rem #9800F4 solid;
  margin-left: 0.25rem;

}

.input-button {
  background: #9800F4;
  border: 2px solid #9800F4;
  border-radius: 5rem;
  height: 3.8rem;
  width: 3.8rem;
  
}

.plus-icon {
  width: 1rem;
  height: 2rem;
  color: #FFFFFF;
  font-weight: 700;

}

.input-field {
  margin-top: 2rem;
  background: #FFFFFF;
  border: 2x solid #9800F4;
  border-radius: 30px;
  height: 2rem;
  width: 80%;
  padding: 1rem;
}
::placeholder {
  color: gray;
  font-style: italic;
  font-size: 20px;
}

.todo-label{
  font-size: 25px;
  font-weight: 700;
  color: palevioletred;

}

.footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  border: 0.25rem #9800F4 solid;

}